.contactFormLable {
  margin: 10px;
}

.formwrap{
  margin-left: 30px;
  border: 2px solid #0BC5EA;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}
.input{
  display: block;
  min-width: 280px;
  height: 30px;
  border: #0BC5EA solid 1px;
  border-radius: 4px;
  background-color: #C4F1F9;
}
.input::placeholder{
color: #fff;
padding: 10px;
font-family: 'Courier New', Courier, monospace;
}
.btn{
  min-width: 80px;
  height: 30px;
  margin: 20px 100px 0px 100px;
  display: inline-block;
  color: #fff;
  background-color: #0BC5EA;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
}
.header{
  margin: 10px 10px 10px 80px;
  font-size: 44px;
  color: #0BC5EA;
}
.wrapper{
 display: flex; 
 gap: 50px;
}

.contacts{
  width: 50%;
  border: #0BC5EA solid 2px;
  border-radius: 4px;
}